// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black:#21212A;
$grey1: #343740;
$grey2: #2A2C35;
$grey: #424242;
$grey-nav: #343740;
$grey-back-title: #2E2F38;
$grey-side: #21212A;
$grey-card: #343740;
$grey-title: #919191;
$grey-body: #919191;
$white: #F1F1F1;
