.result{
    color: $grey-title;
    font-size: 2em;
    margin: 50px 70px 20px 0px;
    display: flex;
    justify-content: space-between;

    a{
        background-color: $grey-back-title;
        border-radius: 5px;
        display: flex;
        padding: 0 16px;
        align-items: flex-end;
    }

}


@media screen and (max-width: 640px) {
    .result{
        color: $grey-title;
        font-size: 1em;
        margin: 20px 10px 20px 0px;
        display: flex;
        justify-content: space-between;
    
        button{
            background-color: $grey-back-title;
            border-radius: 5px;
            display: flex;
            padding: 0 16px;
            align-items: flex-end;
            height: 40px;
        }
    
    }
}