.grid {
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  
  }

  @media screen and (max-width: 640px) {

    .grid {
        display: grid;
        //grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }

  }