.select2-selection{
    background-color: $grey-card;
}

body > div.body-view > div.side > div > div > form > span{
  width: 100% !important;
}

body > div.body-view > div.side > div > div > form > span > span.selection > span > ul > li > input {
  width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    background-color: $grey-card;
    border: 2px solid $grey-card;
    overflow-y: auto;
    overflow-x: hidden;;
    max-height: 70vh;

    &::-webkit-scrollbar {
        width: 10px;
      }
    
      /* Track */
      &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px pink;
        border-radius: 50px;
        width: 10px;
        background: transparent;
      }
    
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: transparent;
        width: 10px;
      }
    
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $grey-back-title;
        opacity: 0.2;
        border-radius: 50px;
      }
    

}

.select2-container .select2-search--inline {
    background-color: $grey-back-title !important;
    border: 2px solid grey;
    border-radius: 3px;
    padding: 8px;
    margin: 8px 0px;
}



.select2-container--default .select2-selection--multiple {
    background-color: $grey-card;
    border: none;
}


.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    width: 100%;
    background-color: #40434e;
    border: 2px solid #32333c;
    color: #9c9c9c;
    overflow-x: hidden;
    padding: 8px;
}

.container-select{
  max-height: 50vh;
}

.container-submit{
  display: flex;
  justify-content: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: $grey-back-title;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 4px;
    padding: 0px 8px;

    &:hover {
        color:$pink;
    }



}


