.body-view{
    display: flex;
    transition: all 1s ease-out;
}


.view{
    height: 100%;
    width: 60%;
    margin: 0 auto;
    transition: all 1s ease-out;
}

.side{
    
    background-color: $grey-card;
    height: 100vh;
    top: 0vh;
    width: 48px;
    position: sticky;
    transition: width 1s ease-out;
    transition: all .3s ease-in;
    overflow: hidden;


    .section {
        h2{
            display: flex;
            color: $grey-title;
            background-color: $grey-back-title;
            padding: 8px;
            font-size: 1.3em;
            justify-content: space-between;
        }
        display: flex;

        i{
            padding: 8px 12px;
            font-size: 24px;
            height: 40px;
            background-color: $grey-back-title;
            color: $pink;
            cursor: pointer;
        }

        select{
            width: 100%;;
        }
    }

    .inner-section{
        padding: 0px 0px 0px 0px;
        width: 100%;

        
    }
}

.active{
    width: 20%;
  
}

.passive{
    width: 20%;
}

.side-btn {
    height: 30px;
    width: 30px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: $white;
    position: sticky;
    top: 5vh;
}

.side-btn:hover{
    color: white;
}


@media screen and (max-width: 640px) {
    .view{
        margin: 0 auto;    
    }

    .side {
      width: 80vw;
      top: 10vh;
      background-color: $grey-card;
    }

    .active{
        width: 48px;
        background-color: transparent;
        position: fixed;
    }
  }